$fuente-nunito: "nunito", sans-serif;
$fuente-nunito-black: "nunitoblack", sans-serif;
$fuente-nunito-medium: "nunitomedio", sans-serif;
// Variaciones de la Nunito, en caso de que no funciones vamos con Sans-serif de respaldo //

$color-principal: #000000;
$color-secundario: #E0E0E0;
$color-gris-claro: lightgray;
$color-blanco: white;
// Variaciones de color //

$breakpoint-movil: 480px;
// Punto de quiebre para hacerlo responsive al celular //