.portada {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
.carrusel {
    max-width: 200px;
}
.obras {
    max-width: 1000px;
}
.proyecto {
    max-width: 500px;
}
.concurso {
    max-width: 500px;
}
.personal {
    margin-top: 35px;
    margin-bottom: 1px;
    max-width:275px;
}